.Modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.TextBox{
background-color: white;
width: 300px;
height: 120px;
position: relative;
}

.CloseModal{
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    background-color: #F5F5F5;
    padding: 0.5rem 1rem;
}

/* DELETE BADGE MODAL */

.DeleteBadgeModal__container{
text-align: center;
}
.DeleteBadgeModal__title{
  font-size: 26px;
  margin:8px;
}

.DeleteBadgeModal__buttons-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  
}