.Navbar{
    background-color: #0069D9;
    padding: 0px  25px;
}

.Navbar span {
    color:white;
    font-size: 18px;
}

.Navbar a{
    text-decoration: none;
}

.Navbar__logo{
    height: 90px;
    width: 90px;
}